<!DOCTYPE html>

<!-- Login page -->
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PAD-STORE | {% block title %} {% endblock %}</title>
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="{{ asset('images/favicon.svg') }}"
      type="image/x-icon"
    />
    <!-- / Favicon -->

    <!-- Vendor -->
    <link
      rel="stylesheet"
      href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ asset('vendor/fontawesome/css/all.min.css') }}"
    />
    <!-- / Vendor -->

    <!-- Custom stylesheets -->
    <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/components.css') }}" />
    {% block stylesheets %} {% endblock %}
    <!-- / Custom stylesheets -->

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- / Google fonts -->
  </head>

  {% block body %} {% endblock %}
</html>
